@import "../../../index.scss";

.container-review {
  box-sizing: border-box;
  width: 16.875rem;
  border: 1px solid $black-100;
  border-radius: 0.6rem;
  color: $black-100;
  padding: 1.8rem 2rem;

  & header {
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1rem;

    & img {
      width: 3.1rem;
      height: 3.1rem;
      border-radius: 100%;
    }

    .stars {
      margin-bottom: 0.2rem;
    }

    .user-name {
      width: 8.8rem;
    }

    .review-info {
      display: flex;
      flex-direction: column;
    }
  }
  .review-text {
    width: 12.25rem;
    color: $black-60;
    line-height: 1.5rem;
  }
}
