@import "../../index.scss";

.conatiner-mailing {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid $black-40;
  width: 83.37rem;
  margin: 0 6.25rem;
  padding-top: 5.6rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 6.75rem;

  & h1 {
    font-size: 2.3rem;
    font-weight: 500;
    color: $black-80;
    margin-bottom: 0.9rem;
  }

  & p {
    width: 36.6rem;
    margin-bottom: 2.5rem;
    line-height: 1.5rem;
    color: $black-80;
  }

  .container-input {
    position: relative;
    width: 35.6rem;
    height: 3.1rem;
    display: flex;

    & input {
      width: 100%;
      height: 100%;
      padding: 0 1rem;
      border: 1px solid $black-60;
      border-radius: 0.9rem;
      text-transform: inherit;
      outline: none;
    }

    & button {
      position: absolute;
      top: 0.5px;
      right: 0;
      width: 9.5rem;
      height: 100%;
      background-color: $black-60;
      border: 1px solid $black-60;
      border-radius: 0.9rem;
      color: white;
      text-transform: inherit;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: transparent;
        color: $black-60;
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }
}
