@import "../../style/variables.scss";

header {
  display: flex;
  flex-direction: column;
  height: 6.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;

  .container-balck {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 33%;
    padding: 1.3rem 6.25rem;
    background-color: $black-80;
    color: $white;
    font-size: 0.75rem;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.29);
    z-index: 10;

    .info {
      display: flex;
      gap: 23px;

      .help {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    .auth {
      & span {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .container-white {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6.25rem;
    width: 100%;
    height: 66%;
    background-color: $white;
    color: $black-80;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.29);
    z-index: 10;

    .logo {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: -2px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
      cursor: pointer;
    }
    .categories {
      list-style: none;
      display: flex;
      gap: 1.87rem;
      font-weight: 400;
      font-size: 1rem;
      text-transform: uppercase;

      & li {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    .container-search {
      display: flex;
      align-items: center;
      gap: 1.25rem;

      input {
        width: 16rem;
        padding: 0 1rem;
        border-radius: 0 0.9rem 0.9rem 0;
        background-color: $black-10;
        outline: none;
        border: none;
      }

      & img {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          transform: scale(1.15);
        }
        &:active {
          transform: scale(0.95);
        }
      }

      .search {
        display: flex;

        & div {
          border-radius: 0.9rem 0 0 0.9rem;
          background-color: $black-10;
        }
        & img {
          padding: 0.5rem;
          width: 1.2rem;
          height: 1.2rem;
        }
      }
    }
  }
}
