* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 0px;
}
