@import "../../../style/variables.scss";

.conatiner-product-page {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;

  .path {
    padding: 1.25rem 6.125rem;
    font-size: 0.8rem;
    color: $black-60;
    font-weight: 300;
  }

  .product-full-info {
    box-sizing: border-box;
    width: 100%;
    padding: 0 6.125rem;
    display: flex;
    gap: 1.8rem;
    margin-bottom: 5rem;

    .images {
      display: flex;
      flex-direction: column;
      align-items: center;

      .main-img {
        width: 29.3rem;
        margin-bottom: 0.25rem;
      }

      .group-img {
        width: 29.3rem;
        display: flex;
        justify-content: space-between;

        & img {
          width: 9.6rem;
        }
      }
    }

    .container-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .product-name {
        font-size: 1.625rem;
        color: $black-80;
        font-weight: 600;
        margin-bottom: 0.3rem;
      }

      .product-division {
        color: $black-60;
        margin-bottom: 1.25rem;
      }

      .product-price {
        color: $green;
        font-size: 1.625rem;
        font-weight: 500;
        margin-bottom: 1.25rem;
      }

      .choice {
        color: $black-80;
        font-weight: 500;
        margin-bottom: 0.625rem;
      }

      .sizes {
        display: flex;
        gap: 0.625rem;
        margin-bottom: 1.8rem;

        .size {
          width: 1.8rem;
          height: 1.8rem;
          background-color: $black-20;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid $black-20;
          border-radius: 5px;
          color: $white;
          cursor: pointer;

          &:hover {
            border-color: $black-60;
          }
        }
      }

      .colors {
        display: flex;
        gap: 0.625rem;
        margin-bottom: 1.8rem;

        .color {
          width: 1.8rem;
          height: 1.8rem;
          border-radius: 100%;
          border: 1px solid $black-80;
          cursor: pointer;
          transition: all 0.2s ease-in-out;

          &:hover {
            transform: scale(1.1);
          }
          &:active {
            transform: scale(0.95);
          }
        }
      }

      .info-title {
        font-size: 1.25rem;
        font-weight: 500;
        color: $black-80;
        margin-bottom: 1.8rem;
      }

      .description {
        width: 40rem;
        text-transform: none;
        line-height: 1.5rem;
        margin-bottom: 3.9rem;
      }

      .title {
        color: $black-60;
      }

      .text {
        color: $black-40;
      }

      .purchase {
        width: 100%;
        border-top: 2px solid $black-20;
        padding-top: 1.25rem;
        display: flex;
        justify-content: space-between;

        .buttons {
          display: flex;
          gap: 1.8rem;

          & button {
            width: 16.8rem;
            height: 3.4rem;
            border: 2px solid $black-100;
            border-radius: 0.9rem;
            text-transform: inherit;
            font-weight: 600;
            letter-spacing: 0.5px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
              transform: scale(1.02);
            }
            &:active {
              transform: scale(1);
            }
          }
          & button:first-child {
            background-color: $black-100;
            color: $white;
          }
          & button:last-child {
            background-color: $white;
          }
        }

        .icons {
          width: 5rem;
          display: flex;
          justify-content: space-between;
          align-items: center;

          & img {
            width: 1.8rem;
            height: 1.8rem;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
              transform: scale(1.15);
            }
            &:active {
              transform: scale(0.95);
            }
          }
        }
      }
    }
  }
}
